<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <li><a routerLink="/home-component" routerLinkActive="active" ariaCurrentWhenActive="page">Home </a></li>
    <li><a routerLink="/form-component" routerLinkActive="active" ariaCurrentWhenActive="page">Form </a></li>
   
   
  </mat-toolbar-row>

</mat-toolbar>


<router-outlet></router-outlet>