<form [formGroup]="newTaskForm"  (ngSubmit)="onSubmit()">                                                                                                                            >

<mat-grid-list cols="3" >
    <mat-grid-tile>
      
     </mat-grid-tile>
    <mat-grid-tile> 
        <ul>
            <li> <mat-form-field appearance="legacy">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Placeholder" formControlName="firstName" >
                <mat-hint>Name Complete</mat-hint>
              </mat-form-field></li>
              <br>
              <li><mat-form-field appearance="standard">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Placeholder" formControlName="Email">
                <mat-hint>6 character min</mat-hint>
              </mat-form-field></li>
              <br>
              <li><mat-form-field appearance="fill">
                <mat-label>Fill form field</mat-label>
                <input matInput placeholder="Placeholder" formControlName="form">
                <mat-hint>Hint</mat-hint>
              </mat-form-field></li><br>
              <li><mat-form-field appearance="outline">
                <mat-label>Outline form field</mat-label>
                <input matInput placeholder="Placeholder" formControlName="outline">
                <mat-hint>Hint</mat-hint>
              </mat-form-field></li>
              <li>
                <section>
                    <div class="example-label"></div>
                    <div class="example-button-row">
                        <button mat-raised-button color="primary" type="submit">Send Form</button>
                    </div>
                  </section>
              </li>

        </ul>
       
       
     
          
        
     
        
     </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
     
  </mat-grid-list>
</form>